* {
	box-sizing: border-box;
}

.form-header {
	border-bottom:  solid 4px black;
	padding-left: 1em;
	padding-right: 1em;
}
h1,
h2,
p {
	text-align: center;
	
}
h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000;
	color: #fff;
}
fieldset {
	border: none;
	margin-top: 20px;
}
legend {
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: large;
	border-top: solid 2px black;
	padding-top: 20px;
}
label,
input,
select,
textarea,
button {
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
input[type="text"],
input[type="tel"],
textarea,
select {
	background-color: #eee;
	border: solid 1px #bbb;
	border-radius: 2px;
	margin-bottom: 5px;
}
input[type="checkbox"],
input[type="radio"] {
	margin-right: 10px;
}
input[id="zip"] {
	width: 50%;
}
input:focus,
textarea:focus {
	background-color: floralwhite;
}
.form_cb {
	display: inline-block;
	width: auto;
	padding: 0;
	margin-bottom: 5px;
}
button[id="submit"] {
	background-color: lightgreen;
	border: solid 1px #bbb;
	border-radius: 2px;
	margin-top: 20px;
}

/* DRY styles */

.rounded {
	border-radius: 2px;	
}
.pl {
	text-align: left;
}

/* Media Query */

@media (min-width: 768px) {



}
